*
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

#title
{
    font-size: 2.5em;
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
}

#subtitle
{
    text-align: center;
    margin-top: 3%;
}

#image
{
    width: 95%;
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-caption
{
    text-align: center;
}

#timeline-title
{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 1.2em;
}

#timeline-list
{
    margin-left: 30%;
    margin-right: 30%;
}

.bold
{
    font-weight: bold;
}

li
{
    margin-top: 4%;
}

#quote
{
    margin-left: 30%;
    margin-right: 30%;
    font-style: italic;
    margin-top: 2%;
    margin-bottom: 3%;
}

#extra-stuff
{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 5%;
}

#tribute-link
{
    color: blue;
}

#tribute-link:visited
{
    color: purple;
}